<span class="main-span">
    <mat-card>
        <div class="card-icon">
            <i class="fa fa-hourglass-half fa-2x" style="margin-top: 15px; margin-left: 18px; color: rgba(97, 109, 129, 1)  ;"></i> 
        </div>
    
        <div class="card-icon-content">
            <h1>10</h1>
            <h2>Pending</h2>
        </div>
    </mat-card>

    <mat-card>
        <div class="card-icon">
            <i class="fa fa-thumbs-up fa-2x" style="margin-top: 15px; margin-left: 18px; color: rgba(97, 109, 129, 1)  ;"></i> 
        </div>
    
        <div class="card-icon-content">
            <h1>22</h1>
            <h2>Received</h2>
        </div>
    </mat-card>
    
    <mat-card>
        <div class="card-icon">
            <i class="fa fa-check-circle fa-2x" style="margin-top: 15px; margin-left: 18px; color: rgba(97, 109, 129, 1)  ;"></i> 
        </div>
    
        <div class="card-icon-content">
            <h1>123</h1>
            <h2>Closed</h2>
        </div>
    </mat-card> 

    <mat-card>
        <div class="card-icon">
            <i class="fa fa-users fa-2x" style="margin-top: 15px; margin-left: 18px; color: rgba(97, 109, 129, 1)  ;"></i> 
        </div>
    
        <div class="card-icon-content">
            <h1>619</h1>
            <h2>Total Request</h2>
        </div>
    </mat-card> 
    
    
</span>


