.main-span {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-bottom: 0px;
  margin-top: 20px;
}

.mat-card {
  display: flex;
  flex-direction: row;
  width: 235px;
  height: 50px;
  margin-right: 20px;
  outline: none;
  border: 1px solid rgba(240, 241, 243, 1) !important;
}

.mat-card:not([class*='mat-elevation-z']) {
  box-shadow: 0px 1px 1px 0px rgba(0, 19, 51, 0.1);
}

.card-icon {
  margin-top: 5px !important;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: rgba(246, 246, 253, 1);
  justify-content: center;
}

.card-icon-content h1 {
  margin-left: 10px;
  font-size: 24px;
  font-family: Mulish;
  font-weight: 700;
  margin-bottom: 0px;
}
.card-icon-content h2 {
  margin-left: 10px;
  font-size: 12px;
  font-family: Mulish;
  font-weight: 700;
  margin-top: -8px;
  margin-bottom: 0px;
  color: rgba(82, 95, 117, 1);
}

.selected-card {
  // color: rgba(38, 38, 191, 1) !important;
  background-color: rgba(246, 246, 253, 1);
  border: 1px solid rgba(64, 64, 217, 1) !important;
  box-shadow: 0px 2px 3px 0px rgba(0, 19, 51, 0.12) !important;
}

.card-icon i {
  margin-top: 15px;
  margin-left: 18px;
  color: rgba(97, 109, 129, 1);
}

.selected-card i {
  color: white;
}

.selected-card .card-icon {
  background-color: rgba(64, 64, 217, 1);
}

.icon-svg {
  margin-left: 7.5px;
  margin-top: 7px;
}
