* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #efeff0;
    padding-top: 80px;
    padding-bottom: 80px;
}

.description p {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 40px;

}

.page-header {
    text-align: center;
    padding: 20px;
}

.page-header h1 {
    color: #f2534b;
    font-family: serif;
    font-size: 3vw;
    text-decoration: underline;
    text-underline-offset: 1.5vw;
}

.news-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    margin: 20px;
}

.news-item {
    text-align: center;
    border: 1px solid #eaeaea;
    padding: 20px;
    justify-content: space-around;
}

.news-item img {
    max-width: 100%;
    height: auto;
}

.news-item p {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: start;
}

.news-item h2 {
    margin-top: 10px;
}

.news-item p {
    margin: 10px 0;
}

.news-item a {
    color: orange;
    text-decoration: none;
}

.see-all-button {
    text-align: center;
    margin-top: 20px;
}

.see-all-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4b4bdb;
    border-radius: 6px;
    color: white;
    width: 60px;
    height: 25px;
    text-decoration: none;
}

@media screen and (max-width: 940px) {
    .news-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin: 20px;
    }

    .page-header h1 {
        font-size: 27px;
    }
}