<h4>{{message}}</h4>

<div class="container">
    <form action="">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="First Name">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Last Name">

        <label for="fname">Phone Number</label>
        <input type="text" id="phone" name="phonenumber" placeholder="Phone Number">

        <label for="email">Email Id</label>
        <input type="email" id="email" name="Emailid" placeholder="Email Id">

        <input type="submit" value="Submit">
    </form>
</div>
