<mat-form-field appearance="outline" class="specialityDropdownContainer">
  <mat-select
    [(ngModel)]="selectedValues"
    (selectionChange)="onSelectionChange($event, 'add')"
    [formControl]="bankMultiCtrl"
    placeholder="Physician Category"
    [multiple]="true"
    #multiSelect
    #spec
    #select
  >
    <mat-option>
      <ngx-mat-select-search
        [formControl]="bankMultiFilterCtrl"
        placeholderLabel="Find Category"
        noEntriesFoundLabel="'no matching category found'"
      ></ngx-mat-select-search>
    </mat-option>

    <mat-checkbox
      [(ngModel)]="allSelected"
      [ngModelOptions]="{ standalone: true }"
      (change)="toggleAllSelection()"
      class="customCheckbox"
      >Select All</mat-checkbox
    >

    <mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank">
      {{ bank.value }}
    </mat-option>
    <span class="footerBtn">
      <footer>
        <span>
          <button
            mat-button
            class="cancelbtn"
            (click)="cancelAll(); select.close()"
          >
            Cancel
          </button>
          <button
            mat-button
            class="submitbtn"
            (click)="logSelectedValues(); select.close()"
          >
            Apply
          </button>
        </span>
      </footer>
    </span>
  </mat-select>
</mat-form-field>

<!-- <p>
  Selected Banks:
</p>
<ul *ngFor="let bank of bankMultiCtrl?.value">
  <li>{{bank.value}}</li>
</ul> -->
