
<body>
    
<mat-icon routerLink = "/user"  class="read-more" >arrow_back</mat-icon>
<!-- 
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
        <br>
      <mat-icon class="read-more" >person</mat-icon>
      <h1>{{myData.Name}}</h1>
    </div>
    <div class="flip-card-back">
    <br>
      <h1>Name : {{myData.Name}}</h1> 
      <h3>Email : {{myData.Email}}</h3>
      <h3>Phone Number : {{myData.PhoneNumber}}</h3>
      <h3>Date Of Birth : {{myData.Dob}}</h3>
      <h3>Gender : {{myData.Gender}}</h3>
    </div>
  </div>
</div> -->

<div class="center">
    <div class="property-card">
      <a href="#">
        <div class="property-image">
          <div class="property-image-title">
            <h5>Firebase Id</h5> {{this.cardId}}
          </div>
        </div></a>
      <div class="property-description">
        
        <h5>{{myData.Name}}</h5>
   
        <h4><strong>Gender : </strong> {{myData.Gender}} </h4>
        <h4><strong>Phone Number : </strong> {{myData.PhoneNumber}} </h4>
        <h4><strong>Email Id : </strong> {{myData.Email}} </h4>
        <h4><strong>Date Of Birth : </strong> {{myData.Dob}} </h4>
      </div>
      <a href="#">
        <div class="property-social-icons">
            <mat-icon routerLink = "/user"  class="read-more" >arrow_back</mat-icon>
        </div>
      </a>
    </div>
  </div>

</body>