<!-- app.component.html -->

<body>
  <div class="logo">
    <img src="../favicon.ico" alt="Your Logo" />
  </div>

  <h1 style="font-family: sans-serif">Lorem ipsum dolor sit amet.</h1>

  <p style="font-family: sans-serif">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic fugit
    delectus, odio illo quidem quam laborum consequuntur distinctio voluptatem
    labore aliquam perferendis accusantium consequatur vel quis, voluptas
    exercitationem enim! Illo. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Porro commodi, totam cupiditate atque laborum a
    exercitationem voluptas rem impedit minima labore excepturi magnam iusto
    soluta non dolorum voluptates quisquam nisi.
  </p>

  <!-- Grid -->
  <div class="grid-container">
    <div class="grid-item" *ngFor="let item of gridItems; let i = index">
      <div class="card" (click)="editItem(item.id)">
        <!-- Nested Grid for Image and Information -->
        <div class="nested-grid">
          <div class="upper-half">
            <img src="{{ item.image }}" alt="Card Image" class="nested-image" />
            <div class="overlay">
              <p>Marketing Rights: {{ item.marketingRights }}</p>
            </div>
          </div>
          <div class="lower-half">
            <!-- Information about Added By and Date -->
            <div class="user-info">
              <p class="user-name">{{ item.addedBy }}</p>
              <p class="user-name">{{ item.createdDate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="navigateToAddItem()" class="button-3">Add New Item</button>
  <router-outlet></router-outlet>
</body>
