<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/nodeLogo.png" style="zoom: 175%" alt="" />
  </div>
  <div class="headings">
    <h2>NodeJS Marketplace</h2>
    <h3>One stop solution</h3>
    <a href="/smoothies" class="btn">Go to MarketPlace</a>
  </div>
</header>

<%- include('partials/footer'); -%>
