
<div *ngIf="!showMain">
  <h2>Add New Item</h2>
  <form [formGroup]="newItemForm" (ngSubmit)="onSubmit()">

    <label for="image">Image:</label>
    <input type="text" id="image" formControlName="image" />

    <label for="addedBy">Added By:</label>
    <input type="text" id="addedBy" formControlName="addedBy" />

    <label for="createdDate">Created Date:</label>
    <input type="date" id="createdDate" formControlName="createdDate" [(ngModel)]="todayDate" [value]="this.todayDate.toISOString().split('T')[0] | date: 'dd-MM-yyyy'"/>
    

    <label for="marketingRights">Marketing Rights:</label>
    <textarea id="marketingRights" formControlName="marketingRights"></textarea>

    <div class="bottombtn">
      <button type="submit">Add Item</button>
    </div>
    
  </form>
</div>

<div class="bottombtn">
  

</div>

<button (click) = "toggleShowMain()" *ngIf="!showMain" style="margin-left: auto; margin-right: auto; display: flex; justify-content: center; align-items: center;">Back</button>
<app-root *ngIf="showMain"></app-root>
