.mat-toolbar {
  position: sticky;
  top: 0;
  display: flex;
  color: #001333;
  background: linear-gradient(0deg, #001333, #001333),
    linear-gradient(0deg, #e0e2e6, #e0e2e6);
  height: 56px;
  width: auto;
  padding: 12px, 30px, 12px, 24px;
  border: 0px, 0px, 1px, 0px;
  overflow: hidden;
}

.heaps-logo-container {
  position: fixed;
  display: flex;
  flex-direction: start;
  width: auto;
  height: 26px;
  top: 15px;
  left: 24px;
  gap: 16px;
}

#logo {
  width: 84.31px;
  height: 16px;
  top: 50%;
  transform: translateY(25%) scale(1.15);
}

.vl {
  // border-left: 1px solid rgb(255, 0, 0);
  // height: 50px;
  width: 26px;
  border-bottom: 1px solid rgb(255, 255, 255);
  color: white;
  transform: rotate(90deg);
}

.mat-form-field {
  color: white;
  width: 150px;
  height: 20px;
  font-size: 15px;
  padding: 0px !important;
  margin-top: -14px;
  margin-left: -40px;
}

// .mat-form-field-appearance-fill .mat-form-field-flex {
//     border-radius: 4px 4px 0 0;
//     padding: 0px !important;
//     color: red;A
// }

::ng-deep .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  padding: 0px !important;
  padding-left: 10px !important;
}

.search-header-container {
  display: flex;
  flex-direction: end;
}

.search-header {
  display: flex !important;
  justify-content: end !important;
  margin-left: 76vw;
  margin-top: 5pxx;
}

#umr-search {
  border: 1px solid rgba(179, 185, 194, 1);

  height: 35px;
  line-height: normal;
  background-color: transparent;
  color: rgba(179, 185, 194, 1);
  width: 221px;
  box-sizing: border-box;
  user-select: auto;
  font-size: 16px;
  border-radius: 4px;
  padding: 0px, 8px, 0px, 8px;
  padding-left: 12px;
  font-family: sans-serif;
  font-size: 15px;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
  color: rgba(179, 185, 194, 1);
}

.input-icons i {
  position: absolute;
}

.icon {
  padding: 10px;
  margin-left: -10px;
  margin-top: 8px;
  min-width: 40px;
  transform: scale(0.7);
}

.input-field-search {
  border: 1px solid #e0e2e6;
  outline: none !important;
  width: 221px !important;
  text-align: start;
  background-color: transparent;
  color: #b3b9c2;
  height: 36px;

  box-sizing: border-box;
  font-size: 13px;
  border-radius: 4px;
  padding: 0px, 8px, 0px, 8px;
  margin-top: 10px;
  padding-left: 35px;
  margin-left: -10px;
}

.input-field-search:hover {
  color: white !important;
}

.input-field-search:focus {
  color: white !important;
  background-color: #47556c;
}

::-webkit-input-placeholder {
  color: rgba(179, 185, 194, 1);
  font-size: 14px;
}

::ng-deep .mat-form-field-infix {
  border-bottom: 0px !important;
  padding: 10px;
  font-weight: 500;
  line-height: 18px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

// ::ng-deep .mat-select-arrow{
//     margin-top:17px !important;
// }

:host::ng-deep .mat-select-placeholder {
  color: white !important;
}

::ng-deep .select-value {
  height: 10px;
}

::ng-deep .ng-tns-c215-1 {
  margin-top: 2px !important;
}

.mat-menu-item {
  width: 200px;
  font-family: Mulish;
}

.fa-user {
  color: grey;
}

.headerRight {
  padding-left: 16px;
}

.button mat-menu-item {
  margin-left: 10px;
}

.userDetail {
  padding-left: 10px;
}

::ng-deep .mat-menu-panel {
  min-width: 208px;
  border-radius: 8px;
  margin-right: 20px;
}

.userName {
  font-weight: 700;
  font-size: 14px;
  color: #525f75;
}

.userTitle {
  color: #525f75;
  font-weight: 400px;
  font-size: 12px;
}

hr {
  width: 200px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  color: #e0e2e6;
  background-color: #e0e2e6 !important;
}

.mat-menu-img {
  position: absolute;
  left: 20px;
  top: 16px;
}

.menuButton {
  min-width: 222px;
}

.menuButton:hover {
  background-color: #eaeafb;
}

.input-field-search::-webkit-search-clear-button,
.input-field-search::-webkit-search-cancel-button {
  appearance: none;
  display: inline-block;
  background: url('./../../../assets/inputCancel.svg') center center no-repeat;
  width: 16px; /* Set the width of your custom icon */
  height: 16px; /* Set the height of your custom icon */
  cursor: pointer;
}
