/* You can add global styles to this file, and also import other style files */
* {
  font-family: Mulish;
}

html,
body {
  height: 100%;
  font-family: Mulish !important;
  text-rendering: geometricPrecision;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body * ::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 100px;
  background-color: transparent;
}

body * ::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

body * ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(179, 185, 194, 1);
}

.mat-select-panel {
  max-width: 191px !important;
  margin-top: 35px;
  margin-left: 30px;
}

.mat-pseudo-checkbox {
  border-radius: 5px !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding-bottom: 0.8em;
  padding-top: 4px;
}

.mat-button {
  padding: 7px, 12px, 7px, 12px !important;
  width: 95px;
}

.mat-select-panel .mat-optgroup-label,
.mat-select-panel .mat-option {
  font-size: 12px !important;
  line-height: 3em;
  height: 3em;
  font-family: Mulish;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: rgba(64, 64, 217, 1); /*inner circle color change*/
}

.mat-form-field {
  vertical-align: text-top;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: rgba(64, 64, 217, 1) !important; /*outer ring color change*/
}

.blue-snackbar {
  background-color: rgba(237, 252, 246, 1);
  width: 60px;
  color: rgba(20, 133, 82, 1);
  .mat-simple-snackbar-action {
    color: rgba(20, 133, 82, 1);
  }
}

.mat-tab-label,
.mat-tab-link {
  font-family: Mulish;
  font-size: 14px;
  font-weight: 700;
}

.mat-tab-label {
  padding: 0px !important;
  opacity: 1;
  justify-content: start !important;
  min-width: 100px !important;
  // padding-left: 20px !important;
  color: black;
}

.mat-select-value {
  padding-bottom: 0px;
}

#mat-select-value-7 {
  height: 10px;
}

.hospitalCheck .mat-select-arrow {
  margin-top: 15px !important;
  padding-right: 10px !important;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  height: 40px !important;
}

.mat-date-range-input-container {
  height: 20px !important;
  font-size: 12px !important;
  font-weight: 500;
  align-items: normal !important;
}

// .ng-tns-c115-4 {
//   border-color: rgba(201, 205, 212, 1) !important;
// }

.specialityDropdownContainer .mat-form-field-infix {
  line-height: 18px !important;
}

.filterTile1 .mat-form-field-infix {
  line-height: 18px !important;
}

.filterTile12 .mat-form-field-infix {
  line-height: 18px !important;
}

.mat-select-placeholder {
  color: rgba(82, 95, 117, 1) !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(201, 205, 212, 1);
}

.ng-tns-c215-11 {
  min-width: 100% !important;
}

.ng-tns-c215-14 {
  min-width: 100% !important;
}

.ng-tns-c215-9 {
  min-width: 100% !important;
}

.ng-tns-c215-13 {
  min-width: 100% !important;
}

.ng-tns-c215-7 .mat-select-panel {
  margin-left: 10px !important;
}

.ng-tns-c115-3 {
  line-height: 8px !important;
}

.physicianServiceStatus .ng-tns-c115-8 {
  line-height: 8px !important;
}
