<!-- <h4>Whole data below is rendered using the parent component and data sharing input tag is used</h4>
<h5>{{forParent}}</h5>
<app-child [inputFromParent] = "forChild"></app-child> -->


    <div class="container">
      <h1 style="font-family: sans-serif; justify-content: center; text-align: center;">Child Component</h1>
      <br>
        <h3 style="font-family: sans-serif; font-size:medium;">Your Entered Username is</h3>
        <h5 style="font-family: sans-serif; font-size:small;">{{receivedUserName}}</h5>

      <br><br>
  
      <h3 style="font-family: sans-serif; font-size:medium;">Your Entered Password is</h3>
      <h5 style="font-family: sans-serif; font-size:small;">{{receivedPassword}}</h5>
   
      
       
    </div>

