p{
    color: black;
}

.product{
    margin: 20px auto;
    text-align: center;
}

.prodInput{
    width: 40%;
    height: 5.5vh ;
    padding: 1px 10px;
    outline: none;
    border-radius: 2px;
    background-color: #efefef;
    border: #282828 1px solid;
}

.search{
    padding: 12px 30px;
    background-color: #282828;
    margin-left: -5px;
    color: #fff;
}

.information{
    margin: 20px auto;
    padding: 10px auto;
}

