.top-el{
    padding-left: 20px;
}

.mat-form-field{
    font-size:11px;
    font-family: Mulish;
    font-weight: bold;
    width: 300px;
}   

.mat-form-field-infix {
    display: block;
    position: relative;
    min-width: 0;
    width: 180px;
}

.filter-icon{
    padding: 11px 13px;
    margin-left: 10px;
    border: 1px solid rgba(224, 226, 230, 1);  
}




