<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <title>Node App</title>
    <meta name="description" content="DESCRIPTION">

    <link href="styles.css" rel="stylesheet">

    <script defer src="main.js"></script>
</head>

<body>
    <h3>Welcome to node app</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nisi, consectetur cum architecto repellat
        aperiam sint quaerat dignissimos nostrum odit? Voluptatem sapiente necessitatibus quidem, ab in obcaecati
        quaerat earum, recusandae, rem neque enim voluptatibus. Quidem ea, odit dolores hic est porro consequatur in
        ipsam expedita beatae ipsum repellat autem vero!</p>
</body>

</html>